@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');


.infoBox{
    background-color: white;
    width: 50%;
    height:50%;
    text-align: center;
    border: 1px solid black;
    margin: 0px auto;
    border-radius: 30px;
    padding-bottom: 30px;
}

.infodiv{
    /* padding-left: 37%; */
    text-align: center;
    color: rgb(63, 63, 63);
}

.infopara{
    /* text-align: left; */
    color: rgb(63, 63, 63);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 230px;
}

#emailtitle{
    margin-right: 130px;
}

h2{
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    margin-bottom: 10px;
    margin-right: 170px;
}

#idinfo{
    margin-right: 245px;
}

#passwordinfo{
    margin-right: 180px;
}

#emailinfo{
    margin-right: 220px;
}



#pwinfo{
    margin-bottom: 5px;
}

#pwcheckinfo{
    margin-bottom: 5px;
}

#pwcheckpara{
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    margin-top: 0;
    padding-left: 90px;
    color: grey;
    margin-bottom: 30px;
}

.savebtns{
    background-color: white;
    width: 100px;
    color: black;
    font-family: 'Montserrat', Times, serif;
    font-weight: 700;
    font-size: 1.0rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border:0.2px solid rgb(158, 158, 158);
    border-radius: 30px;
    box-shadow: 1px 1px 4px rgb(165, 165, 165);
    cursor: pointer;
    margin-bottom: 50px;
    text-align: center;
    /* margin-left: 20px; */
}

.linepara{
    margin-top: 0;
    color: rgb(236, 236, 236);
}

.savebtns:hover{
    background-color: rgb(235, 235, 235);
}