.Home-container {
  margin-top:220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Join-button {
  margin-top: 2rem;
  width: 168px;
  height: 30px;
  background-color: var(--seed-yelow);
  border-radius: 6px;
  border: none;
}
.Join-button:hover{
  color:darkgray;
  cursor: pointer;
}

.room{
  font-size:50px;
}

.chat_label{
  margin-top: 1rem;
  font-size:35px;
}

.Home-container input{
  border-radius: 6px;
  width: 168px;
  height: 35px;
  font-size: 13px;
  color: black;
}