.Home-container {
    margin-top:100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Join-button {
    margin-top: 1rem;
  }

  .room{
    font-size:50px;
  }