@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    /* font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: 700; */
}

#logo{
    color: #ffffff;
    font-size: 5.5rem;
    display: inline-block;
    font-family: 'Rock Salt', Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    margin-top: 30px;
}

#joinLink:hover{
    cursor: pointer;
    color: white;
    background-color: #ffbb00;
}

#logoIntro, #joinmsg{
    font-family: 'Montserrat', Courier, monospace;
    font-weight: 700;
}

#logoIntro{
    font-size: 1.3rem;
    color: white;
    margin-top: -40px;
}

#joinmsg{
    margin-top: 30px;
}

#joinLink{
    font-weight: 600;
    display: inline-block;
    padding: 40px 60px 40px 60px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 100%;
    margin-bottom: 75px;
}


#recoTitle{
    font-size: 1.5rem;
    font-family: 'Rock Salt', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 20px;
}

#line{
    width: 50%;
    margin-top: 0px;
    margin-bottom: 5%;
}

#frame{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    padding-bottom: 150px;
}

#introtitle{
    color: #ffbb00;
    font-family: 'Rock Salt', Courier, monospace;
    font-size: 3rem;
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 30px;
    font-weight: 700;
}

.intro{
    color:white;
}

#intro1{
    text-align: left;
    margin-left: 10%;
}

#intro2{
    text-align: right;
    margin-right: 10%;
    margin-bottom: 100px;
}

#para2{
    float: right;
}

#intro3{
    display: block;
    text-align: left;
    margin-left: 10%;
}

#title2{
    text-align: right;
    padding-left: 200px;
}


#para3{
    float: left;
}

.intropara{
    width: 340px;
}

#posterdiv{
    margin-top: 7%;
}

.poster{
    width: 200px;
    height: 250px;
    border: 2px solid white;
    border-radius: 100px;
    margin-left: 15px;
    margin-right: 15px;
}