@import url("../../Components/color.css");

.setting{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    display: block;
    position: relative;
    height: 60px;
    margin: 150px 140px 10px 140px; 
    border: none;
    border-bottom: 1px solid var(--seed-yelow);
    color: var(--seed-main-color);
    font-size: 15px;
}

#mypageSection{
    padding-left: 15%;
    padding-right: 15%;
}
#mypage_user_img{
    float: left;
    border-radius: 50%;
    margin: 0 10px;
}
#mypage_username{
    float: left;
    margin: 20px 20px 0 0;
}
#mypage_sub{
    float: left;
    margin: 20px 20px 0 10px;
}
#mypage_today{
    font-size: 13px;
    float: right;
    margin: 20px 10px 0 10px;
}
#mypage_total{
    font-size: 13px;
    float: right;
    margin: 20px 10px 0 10px;
}
.setting_icon{
    float: right;
    margin: 0 10px 0 20px;
    padding-top: 24px;
}


.user_write, .popularSeeds{
    width: auto;
    min-width: 1000px;
    padding-bottom: 0px;
    padding-left: 3%;
}
.popularSeeds{
    margin: 60px 100px 10px 100px;
}
.user_write{
    padding-left: 3%;
    padding-right: 10%;
    padding-bottom: 30px;
}
.user_write h3:hover{
    background-color: var(--seed-yelow-hover);
}
.shortOrExpress{
    height:30px;
    margin: 0px 0 10px 50px;
}
.shortList{
    float: left;
    padding: 5px;
}
.expressList{
    float: left;
    padding: 5px;
}
.shortList:hover{
    color: var(--seed-yelow);
}
.expressList:hover{
    color: var(--seed-yelow);
}
.categoryMenu{
    margin-top: 10px;
}
.category{
    position:relative;
    list-style: none;
    margin: 3px 0 10px 50px;
    padding: 0;
    background-color: black;
    width: auto;
    height: 20px;
    display: none;
    /* border: 2px solid var(--seed-backCover); */
    font-size: 14px;
}
.category.active{
    display: block;
}

.rootCategory{
    text-align: center;
    margin: 0;
    padding: 1px;
    width: 80px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: lighter;
    color: var(--seed-main-color);
    border-bottom: 1px solid black;
    float: left;
}
.rootCategory:hover{
    color: var(--seed-yelow);
    border-bottom: 1px solid var(--seed-yelow-hover);
}
.PSeedsContainer{
    position: relative;
    margin-left: 50px;
    height: 230px;
    overflow-y: hidden;
}
#PSElement{
    float:left;
    width: 230px; height: 200px;
    border: 1px solid var(--seed-backCover);
    margin: 0 5px 30px 5px;
}

.myseeds{
    height: 20px;
    margin: 0 6px 14px 44px;
}
.user_write h3{
    margin: 0 0 1px 40px;
    width: 80px;
    padding: 8px;
    color: var(--seed-main-color);
    text-align: center;
    border: 2px solid var(--seed-backCover);
    border-radius: 30px;
}
.popularSeeds h3{
    margin-left: 40px;
    width: 100px;
    color: var(--seed-main-color);
    text-align: left;
}
.write_info{
    margin: 16px 0 0 10px;
    height: 300px;
    font-size: 14px;
    left: 50%;
    display:block;
}
.Wmovie{
    float: left;
    margin: 0 20px 0 0;
    width: 160px;
    text-align: left;
    overflow: hidden;
}
.Wtitle{
    float: left;
    margin: 0 16px;
    width: 420px;
    text-align: center;
    overflow: hidden;
}
.Wtitle.extend{
    float: left;
    margin: 0 16px;
    width: 420px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.Wcontent{
    float: left;
    margin: 0 16px;
    width: 390px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.Wcontent.extend {
    float: left;
    margin: 0 16px;
    width: 400px;
    padding-top: 4px;    
    text-align: left;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    line-height: 1.4em; 
    height: 4.2em; 
    text-align: left; 
    word-wrap: break-word;
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.Wdate{
    float: right;
    margin: 0 0 0 16px;
    width: 140px;
    text-align: right;
    overflow: hidden;
}
.Wnum{
    float: right;
    margin: 0 16px;
    width: 60px;
    text-align: center;
    overflow: hidden;
}


#written{
    margin-left: 40px;
    color: var(--seed-main-color);
    font-size: 13px;
}
#written ul{
    padding: 0;
}
#written li{
    padding: 4px 0 0 0;
    margin: 5px 5px;
    border-top: 1px solid var(--seed-main-color);
    list-style: none;
    overflow: hidden;
}
#written span{
    font-weight: lighter;
}
#written li:hover{
    background-color: var(--seed-backCover);
}
.short{
    height: 34px;
    
}
.express{
    height: 70px;
}

@media(max-width: 900px){
    #mypage_total, #mypage_today{
        font-size: 10px;
        float: none;
    }
    .setting-block{
        display: block;
        position: absolute;
        margin-top: 60px;
    }
}
@media(max-width: 650px){
    .setting{
        margin: 150px 140px 10px 40px; 
    }
}

  