@import url("../../Components/color.css");

.setting{
    display: block;
    position: relative;
    height: 60px;
    margin: 150px 140px 10px 140px; 
    border: none;
    border-bottom: 1px solid var(--seed-yelow);
    color: var(--seed-main-color);
}
#mypage_user_img{
    float: left;
    border-radius: 50%;
    margin: 0 10px;
}
#mypage_username{
    float: left;
    margin: 20px 20px 0 0;
}
#mypage_sub{
    float: left;
    margin: 20px 20px 0 10px;
}
#mypage_today{
    float: right;
    margin: 20px 10px 0 10px;
}
#mypage_total{
    float: right;
    margin: 20px 10px 0 10px;
}
.setting_icon{
    float: right;
    margin: 0 10px 0 20px;
    padding-top: 24px;
}


.user_write, .popularSeeds{
    width: auto;
    min-width: 1000px;
    margin: 60px 100px 10px 100px;
    padding-bottom: 0px;
}
.PSeedsContainer{
    position: relative;
    margin-left: 50px;
    height: 230px;
    overflow-y: hidden;
}
#PSElement{
    float:left;
    width: 230px; height: 200px;
    border: 1px solid var(--seed-backCover);
    margin: 0 5px 30px 5px;
}

.myseeds{
    margin: 0 0 0 44px;
}
.user_write h3{
    margin-left: 40px;
    width: 100px;
    color: var(--seed-main-color);
    text-align: left;

}
.popularSeeds h3{
    margin-left: 40px;
    width: 100px;
    color: var(--seed-main-color);
    text-align: left;

}
.user_write .write_info{
    margin-left: 10px;
    font-size: 14px;
}
#Wmovie{
    float: left;
    margin: 0 46px 0 0;
    width: 160px;
    text-align: left;
}
#Wtitle{
    float: left;
    margin: 0 16px;
    width: 300px;
    text-align: center;
}
#Wdate{
    float: right;
    margin: 0 16px;
    width: 220px;
    text-align: center;
}
#Wnum{
    float: right;
    margin: 0 16px;
    width: 100px;
    text-align: right;
}

#written{
    margin-left: 40px;
    border-bottom: 2px solid var(--seed-backCover);
    padding-top: 14px;
    color: var(--seed-main-color);
    /* height: 360px;
    overflow-y: scroll; */
}
/* #written::-webkit-scrollbar{
    width: 5px;
}
#written::-webkit-scrollbar-thumb{
    background-color: var(--seed-yelow);
}
#written::-webkit-scrollbar-track{
    background-color: var(--seed-backCover);
} */
#written ul{
    padding: 0;
}
#written li{
    height: 36px;
    margin: 5px 5px;
    border-top: 1px solid var(--seed-main-color);
    list-style: none;
    overflow: hidden;
}