@import url('../../../Components/color.css');

.noti-componemt{
    float: right;
    margin: 80px 20px 0 0;
    width: 280px;
    height: 500px;
}

.noti-list{
    margin: 10px;
    padding: 0;
}
.noti-list li{
    width: 100%;
    font-size: 12px;
    font-weight: 100;
    padding: 10px 6px;
    margin: 10px 0;
    list-style: none;
    background-color: var(--seed-backgroundColor);
}
#noti-icon{
    position: absolute;
    right: 150px;
    top: 28px;
}
.meaasge{
    width: 210px;
    display: inline-block;
    margin: 0 10px;
}
.meaasge:hover{
    color: #ffbb00;
}
.no_message{
    width: 210px;
    display: inline-block;
    margin: 0 10px;
}
.del-btn{
    display: inline-block;
}