.detail_container{
    width:80%;
    border: solid;
    border-color: #ffbb00;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    margin-left: 10%;
    margin-top: 130px;
}

.detail_movie_data{
    width: 100%;
}

.movieTOWrite_but{
    width: 10%;
    height: 35px;
    background-color: #ffbb00;
    border-radius: 15px;
    box-shadow: none;
    margin:20px;
    padding: 5px;
}

.reviewlist .line{
    background-color:#ffbb00;
    border-color: #ffbb00;
    width:80%; height:1px;
}

.reviewlist_card{
    border:solid;
    border-width: 1px;
    border-color: #e5e5e5;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
}

.reviewlist_card a{
    text-decoration: none;
    color:#e5e5e5;
}

.review_table{
    width: 80%;
    margin-left: 10%;
}

.reviewlist_map{
    margin-bottom: 70px;
}

.reviewInfo{
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
}

.box{
    border: #ffbb00;
    margin-left: 10%;
}