.search_input{
    padding: 2px;
    margin-right: 5px;
    margin-top: 130px;
    width: 50%;
    color: #e5e5e5;
    background-color: #252525;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #ffbb00;
    font-size:x-large;
}

.search_submit {
    position: absolute;
    margin-top: 130px;
    cursor: pointer;
    background-color: #ffbb00;
    border: none;
    font-size: large;
}