.search_bar{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    color: black;
    width: 50%;
    height: 45px;
    border: 1px solid white;
    padding: 5px;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 1rem;
}

.search_but {
    text-align: center;
    margin-top: 30px;
    margin-left: 15px;
    width: 60px;
    height: 55px;
    background-color: #ffbb00;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    font-size: 1rem;
    
}

.search_but:hover{
    cursor: pointer;
}

.search_bar :click{
    border: none;
    outline: none;
}