

.hashtag_button{
    position: absolute;
    top: 65%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%; height: 60%;
}

.explain{
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    color:#E5E5E5;
}

.get_hashtag{
    margin-left:10%;
}

#num{
    margin:3%;
    width: 11%; height: 100px;
    background-color:#262626;
    border-radius: 10%;
    border-color: #E5E5E5;
    color:#E5E5E5;
}