.seeMain_container{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

#map{
    margin-left: 5%;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    font-weight: 300;
}

/*movie card css*/
.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 50px 50px 50px;
    width:80%;
}

.movies .movie_card{
    width:40%;
    border: solid;
    border-color: #e5e5e5;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
}

.movies .movie_card:hover{
    box-shadow: 0 13px 27px 5px rgba(244, 244, 247, 0.25), 
    0 8px 16px 8px rgba(244, 244, 247, 0.25), 
    0 6px 16px 6px rgba(244, 244, 247, 0.25);
}



/*review card css*/
.topReviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 50px 50px 50px;
    width:80%;
}

.topReviews .review_card {
    margin-bottom: 50px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    width:40%;
    border: solid;
    border-color: #e5e5e5;
    align-items: flex-start;
    justify-content: space-between;
  }

  .topReviews .review_card:hover{
    box-shadow: 0 13px 27px 5px rgba(244, 244, 247, 0.25), 
    0 8px 16px 8px rgba(244, 244, 247, 0.25), 
    0 6px 16px 6px rgba(244, 244, 247, 0.25);
}

  .loadMore_but{
    width: 20%;
    height: 50px;
    cursor: pointer;
    background-color: #ffbb00;
    border: none;
    font-size: large;
    box-shadow: none;
    padding:0;
    border-radius: 15px;
    margin-bottom: 100px;
  }