.movie-search{
    width:60%;
    position:relative;
    height:40px;
    margin-bottom:20px;
}
.inst{
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    width:90%;
    height:40px;
    margin-bottom:50px;
    padding-top: 20px;
    padding-left: 30px;
    color:var(--seed-backgroundColor)
}

#movititleInputShort{
    position: relative;
    align-self: left;
    width:85%;
    height:40px;
    margin-bottom:20px;
}

#shortMovieNameInput{
    position: relative;
    bottom: 2px;
    display: inline-block;
    width:150px;
    text-align:center;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #ffbb00;
    padding-bottom: 5px;
    margin-right: 5px;
}

.text-input{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    font-size: 1rem;
    color: black;
    width:82%;
    height:100px;
    margin-bottom:10px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    right:10px;
    
}

#shortTextArea{
    background-color: #f8f8f8;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    margin-right: 0;
}

.button-wrap{
    float:right;
    margin-top:20px;
    position: relative;
    right:30px;
}

.sc-bdnxRM.gjmlOz{
    font-size: 0.9rem;
    position: relative;
    bottom: 10px;
    width: 100px;
    height: 160px;
    /* border: 1px solid #e2e2e2; */
    border-radius: 5px;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.select-button-wrap{
    position:relative;
    
}
.keyword-input{
    display: inline-block;
    height:40px;
    margin-right:10px;
    width:65%;
    position:relative;
    /* left:5px; */
    border: 1px solid #ababab;
    border-radius: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
}

#shortReviewBottomDiv{
    margin-left: 10px;
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 50px;
}

.check-box{
    width: 20px;
    height: 20px;
    box-shadow:none;
    position: relative;
    top: 5px;
}

.check-inst{
    position: relative;
    top: 5px;
}

