.movie-search{
    width:60%;
    position:relative;
    height:40px;
    margin-bottom:20px;
}
.inst{
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    width:90%;
    height:40px;
    margin-bottom:10px;
    padding-top: 20px;
    padding-left: 30px;
    color:var(--seed-backgroundColor)
}

#movititleInputShort{
    position: relative;
    align-self: left;
    width:85%;
    height:40px;
    margin-bottom:20px;
}
.text-input{
    width:80%;
    height:100px;
    margin-bottom:10px;
    position: relative;
    padding: 10px;
    right:10px;
}
.button-wrap{
    float:right;
    margin-top:20px;
    position: relative;
    right:30px;
}
.select-button-wrap{
    position:relative;
    
}
.keyword-input{
    height:20px;
    margin-right:20px;
    width:80%;
    position:relative;
    left:5px;
    margin-bottom: 10px;
}

.check-box{
    width: 20px;
    height: 20px;
    box-shadow:none;
}

