:root{
    --seed-main-color: #E5E5E5;
    --seed-backgroundColor: #262626;
    --seed-backCover:#c4c4c460;

    --seed-subColor:#F3F0E5;
    --seed-subSideColor:#C4C4C4;
    --seed-yelow: #ffd311;
}
