@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('../Components/color.css');

body{
  overflow-y: scroll;
  overflow-x: hidden;
}

.navi_wrapper{
  position: fixed;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  height: 75px;
  border: 1px solid var(--seed-main-color);
  color: var(--seed-main-color);
  background-color: var(--seed-backgroundColor);
  width: 100%;
  top: 0; left: 0;
  border-left: none;
  z-index: 1000;
}

/* 네비게이션 */
.navbar{
  position: absolute;
  background-color: var(--seed-backgroundColor);
  height: 75px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background:none;
}
.navbar-toggle {
  /* display: block;
  position: fixed; */
  margin-top: 10px;
  /* background-color: var(--seed-backgroundColor);
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none; */
}
.close-bars{
  padding: 0 15px;
  font-size: 12px;
}
h1{
  color: var(--seed-main-color);
  position:absolute;
  left: 80px;
  margin-right: 10px;
}

.logo{
  font-family: 'Rock Salt', Courier, monospace;
  font-size: 1.4rem;
  color: var(--seed-main-color);
  position:absolute;
  left: 80px;
  margin-top: 10px;
  margin-right: 10px;
}

.logo:hover{
  color:#ffbb00;
  cursor: pointer;
}

.menu{
position:absolute;
left: 250px;
margin-right: 10px;
width: 1000px;
padding-top: 10px;
font-family: 'Montserrat', Courier, monospace;
font-size: 0.7rem;
font-weight: 700;
}

.menu li{
  padding: 0 70px;
  margin-top:5px;
  display: block;
  float: left;
  padding-left: 50px;
}

.menu a{
  color: var(--seed-main-color);
  font-size: 0.9rem;
  font-weight:700;
  text-decoration: none;
  margin-top: 25px;
  padding-top: 110px;
}

.menus{
  padding-top: 10px;
}

.menus:hover{
  color:#ffbb00;
  cursor: pointer;
}

#user_name, #user_login{
  font-family: 'Noto Sans KR', Courier, monospace;
  font-weight: 700;
  position:absolute;
  right: 80px;
  margin-top: 24px;
}

#user_login{
  margin: 0;
  position: absolute;
  right: 65px;
  top:18px;
  font-family: 'Montserrat', Courier, monospace;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 30px;
  padding: 8px 20px 8px 20px;
  border: 1px solid #ababab;
}


#user_name:hover{
  cursor: pointer;
  color: #ffbb00;
}

#user_login:hover{
  background-color: #ffd86e;
  cursor: pointer;
}


#user_img{
  position: absolute;
  width:40px;
  height:35px;
  right: 20px;
  top:18px;
  border-radius: 50px;
}
@media(max-width: 800px){
  .user{
    display: none;
  }
}

#logoutBtn{
  padding: 6px 25px 6px 25px;
  font-family: 'Noto Sans KR', Courier, monospace;
  font-weight: 700;
  font-size: 0.9rem;
  color: white;
  background-color: rgb(44, 44, 44);
  border: 1px solid white;
  border-radius: 100px;
}

#logoutBtn:hover{
  cursor: pointer;
  background-color: black;
}

/* 사이드바 */
.nav-menu {
  background-color: var(--seed-backgroundColor);
  width: 250px;
  height:100vh;
  position:fixed;
  top:0;
  left:-100%;
  margin-top: 80px;
  transition: 850ms;
  z-index: 999;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}


/* 사이드바 사용자정보 */
.nav_user_info{
  position: relative;
}
#sideBar_user_img{
  /* position: inherit; */
  border-radius: 100%;
  text-align: center;
  width: 40px;
  height: 30px;
  margin-top: 15px;
  border: 2px solid white;
  padding: 10px;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
}
.sideBar_user_name p, .user-info p{
  margin: 0; padding:0;
}
.sideBar_user_name{
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Noto Sans KR', Courier, monospace;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.user-info{
  position: fixed;
  display:flex;
  font-size: 13px;
}
.sideBar_sub{
  margin-left: 50px;
}
.sideBar_like{
  display: inline-block;
  /* margin-left: 106px; */
}


/* 사이드바메뉴 */
.nav_sidebar_menu{
  margin: 70px 0;
  display: block;
}
.nav-text{
  /* position: relative; */
  justify-content: flex-start;
  /* padding: 0 4px; */
  padding: 0 10px 16px 5px;
  list-style:none;
  height: 30px;
  /* float: left; */
  list-style:none;
  /* margin-top: 150px; */
  /* align-items: center; */
  margin-left: 30px;
  font-family: 'Noto Sans KR', Courier, monospace;
  /* font-weight: 700; */
}

.nav-text p{
  font-size: 14px;
  padding-left: 4px;
}
.nav-text a {
  text-decoration: none;
  text-align:center; 
  color: var(--seed-main-color);
  font-size: 1.1rem;
  height: 100%;
  display: flex;
  padding: 0 2px;
  align-items: center;
  border-radius: 4px;
}
.nav-text a:hover{
  color: #ffbb00;
}

.nav-menu-items {
  width:100%;
  padding-left: 5px;
  list-style: none;
}

.close-bars{
  /* text-align: right; */
  margin-left: 200px;
}


/* 사이드바 하단 */
.nav_bottom {
  text-decoration: none;
  font-family: 'Noto Sans KR', Courier, monospace;
  margin-top: -20px;
}

.nav_bottom > button{
  background-color: var(--seed-backgroundColor);
  border: none;
}

.nav_bottom > button:hover{
  color: grey;
  cursor: pointer;
}

/* .itemtitle:hover{
  color: grey;
} */

#sideitemtitle{
  margin-left: 10px;
  font-family: 'Noto Sans KR', Courier, monospace;
  font-weight: 700;
}