@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.findBox{
    background-color: white;
    width: 40%;
    height:50%;
    border: 1px solid black;
    margin: 0px auto;
    border-radius: 30px;
    padding-bottom: 60px;
}

#innerbox{
    align-self:center;
    position: relative;
}

.findtitle{
    text-align: left;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Noto Sans KR', Times, serif;
    color: rgb(92, 92, 92);
    margin-bottom: 5px;
    margin-left: 30px;
    position: relative;
}

.findpara{
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', Times, serif;
    font-weight: 700;
    color: rgb(92, 92, 92);
    margin-top: 0;
}

#findLogo{
    color: black;
    font-family: 'Rock Salt', Courier, monospace;
    font-size: 3.0rem;
    margin-bottom: 0;
}

#findid, #findpw{
    width: 80%;
    display: inline-block;
    position: relative;
}

#id_find, #pw_find, #findpw_email{
    border-radius: 10px;
    height: 30px;
}

#pw_find{
    margin-bottom: 0;
}

#findid_sendemail, #findpw_checkid, #findpw_sendemail{
    font-family: 'Montserrat', Courier, monospace;
    color: black;
    background-color: white;
    font-size: 1.0rem;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgb(165, 165, 165);
    margin-left: 10px;
    padding: 8px 15px 8px 15px;
    height: 41px;
}

#findid_sendemail:hover, #findpw_checkid:hover, #findpw_sendemail:hover{
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

#checkidpara{
    color: black;
    font-family: 'Noto Sans KR', Times, serif;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 5px;
}

#sepPara{
    color:rgb(236, 236, 236);
    font-weight: 700;
    position:relative;
}