@import url("../../Components/color.css");

.contact{
    position: absolute;
    left: 50%;
    margin-top: 130px;
    width: 300px;
    margin-left: -150px;
}
.contact p{
    font-size: 13px;
}
.contact-form label {
    display: flex;
    margin: 0px 0 4px 0;
    font-size: 15px;
}
.contact-form input {
    width: 100%;
    height: 20px;
    padding: 7px;
    border: none;
    border-radius: 6px;
    outline: none;
    color: black;
    font-size: 13px;
}
.contact-form textarea{
    width: 100%;
    height: 100px;
    padding: 7px;
    border-radius: 6px;
    color: black;
}
#contactUsBtn {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: var(--seed-yelow);
    color: white;
    font-size: 18px;
}

#contactUsBtn:hover{
    color:darkgray;
    cursor: pointer;
}