@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#myInfoLogo{
    display: block;
    width: 150px;
    margin-left: 370px;
    font-size: 1.8rem;
    font-family: 'Rock Salt', Courier, monospace;
    color: #ffbb00;
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 0px;
    text-align: left;
}

.infoBox{
    background-color: white;
    width: 1200px;
    height:30%;
    text-align: center;
    border: 1px solid black;
    margin: 0px auto;
    margin-bottom: 50px;
    border-radius: 30px;
    padding-bottom: 30px;
}

#firstDiv, #secondDiv, #firstTitle, #secondTitle{
    display: inline-block;
    width: 300px;
    height: 550px;
    margin-top: 60px;
}

#firstTitle, #secondTitle{
    width: 150px;
}

#firstTitle, #secondTitle, #secondDiv{
    vertical-align: top;
}

#firstTitle, #secondTitle{
    margin-right: 30px;
}

#firstDiv{
    margin-right: 70px;
    
}

#firstTitle, #secondTitle{
    border-right: 1px solid lightgray;
}

#firstDiv, #secondDiv{
    /* background-color: lightgray; */
}

#firstDiv input, #secondDiv input{
    color: black;
    font-size: 1.0rem;
    font-weight: 700;
    border: 2px solid white;
    box-shadow: 1px 1px 4px rgb(165, 165, 165);
    display: inline-block;
    width: 235px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding:3px 5px 3px 15px;
}


.infopara{
    /* text-align: left; */
    color: rgb(63, 63, 63);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 240px;
}

#nicknameModify, #pwinfo, #pwcheckinfo, #homepageInput{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

#IDpara, #emailtitle{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
}

#IDpara{
    margin-left: 20px;
}
#emailtitle{
    margin-right: 130px;
}

.memberinfotitle{
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffbb00;
    margin-bottom: 10px;
    margin-right: 170px;
}

#firstTitle p, #secondTitle p{
    color: black;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 9px;
}

#idinfo, #passwordinfo, #emailinfo, #nickinfo, #homepageinfo, #additionalTitle{
    color: rgb(49, 49, 49);
    font-family: 'Montserrat', Courier, monospace;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

#idinfo{
    margin-right: 250px;
}

#passwordinfo{
    margin-right: 180px;
}

#emailinfo{
    margin-right: 220px;
}

#nickinfo{
    margin-right: 180px;
    /* margin-left: 168px; */
    text-align: center;
}

#pwinfo{
    margin-bottom: 0px;
}

#pwcheckinfo{
    margin-top: 0px;
    margin-bottom: 5px;
}

#pwcheckpara{
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    margin-top: 0;
    padding-left: 90px;
    color: grey;
    margin-bottom: 30px;
}

.savebtns{
    display: block;
    text-align: center;
    background-color: white;
    width: 100px;
    color: black;
    font-family: 'Noto Sans KR', Times, serif;
    font-weight: 700;
    font-size: 1.0rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border:0.2px solid rgb(158, 158, 158);
    border-radius: 30px;
    box-shadow: 1px 1px 4px rgb(165, 165, 165);
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 45%;
    text-align: center;
    /* margin-left: 20px; */
}

.linepara{
    margin: 0;
    color: rgb(197, 197, 197);
}

.savebtns:hover{
    color: white;
    background-color: #ffbb00;
}

#requireTitle, #additionalTitle{
    font-family: 'Noto Sans KR', Courier, monospace;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#nickmodifyinput{
    font-weight: 700;
    font-family: 'Noto Sans KR', Courier, monospace;
}

#homepageinfo{
    margin-left: 10px;
    text-align: left;
}

#homepageInput{
    margin-right: 10px;
}
